.register_form {
    background: #fff;
    width: 500px;
    margin: 65px auto;
    margin-top: 130px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
  }  
  
  .register_form h1 {
    padding: 35px 35px 0 35px;
    font-weight: 300;
  }
  
  .register_form .content {
    padding: 35px;
    text-align: center;
  }
  
  .register_form .input_field {
    padding: 12px 5px;
  }
  
  .register_form .input_field input {
    font-size: 16px;
    display: block;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  
  .register_form .input_field input::-webkit-input-placeholder {
    text-transform: lowercase;
  }
  
  .register_form .input_field input::-moz-placeholder {
    text-transform: lowercase;
  }
  
  .register_form .input_field input:-ms-input-placeholder {
    text-transform: lowercase;
  }
  
  .register_form .input_field input::-ms-input-placeholder {
    text-transform: lowercase;
  }
  
  .register_form .input_field input::placeholder {
    text-transform: lowercase;
  }
  
  .register_form .input_field input:focus {
    border-color: #222;
  }
  
  .register_form a.link {
    text-decoration: none;
    color: #747474;
    letter-spacing: 0.2px;
    text-transform: lowercase;
    display: inline-block;
    margin-top: 20px;
  }
  
  .register_form .action {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }
  .action button {
    color: white !important;
  }
  
  .register_form .action button {
    width: 100%;
    border: none;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #495d96;
    color: rgba(14, 12, 12, 0.788);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
  }

  .register_form .container_signin{
 margin-top: 20px;
 padding: 5px;
 text-align: center;

  }

  .login_text {
    color: blue;
  }



  .register_form .legacy{
 text-align: center;
 font-size: 15px;
 padding: 15px;
    
  }


  
  .register_form .action button:hover {
    background: #d8d8d8;
  }
  
  .register_form .action button:nth-child(2) {
    background: #2d3b55;
    color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
  }
  
  .register_form .action button:nth-child(2):hover {
    background: #3c4d6d;
  }